body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em 0;
}

main {
  padding: 20px;
}

#walletConnection {
  text-align: center;
  margin: 20px 0;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4531a2;
}

#walletInfo {
  text-align: center;
  margin-top: 40px;
}

#walletDetails {
  /* Style for the wallet details */
  margin-bottom: 10px;
}

.reference-text {
  color: #777;
  font-size: 0.9em;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 600px) {
  /* Adjust styles for mobile responsiveness if needed */
  button {
      width: 100%;
  }
}
